@page "/cadastro-canal-de-venda-lista"
@inject ICanalVendaService canalDeVendaService
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime
@inherits CrudBase

<PageTitle>Cadastro de Canais de Venda</PageTitle>
<ExibirSpinner Visible="@ExibindoSpinner" />
<ExibirErro @ref="Erro" />

<h5>Cadastro de Canais de Venda - Lista</h5>

<div class="card p-2">
    <div class="row">
        <div class="col-12">
            <CustomTable TItem="Canal_De_Venda"
                        Items="genericItems"
                        Columns="colunas"
                        @ref="customTable">
                <CustomContent>
                    <button type="button" class="btn btn-sm btn-primary me-2" onclick="@(() => IrParaCadastros(0))" style="width: 100px;">
                        <i class="bi bi-plus-lg"></i> Novo
                    </button>
                </CustomContent>
                <RowTemplate>
                    <th>@context.Cod_Tpv</th>
                    <td>@context.Descricao</td>
                    <td>
                        <EditDeleteButtom OnEdit="@(() => IrParaCadastros(context.Cod_Tpv))"
                            OnDelete="@(() => ConfirmarExclusaoAsync(context))" />
                    </td>
                </RowTemplate>
            </CustomTable>
        </div>
    </div>
</div>

<ModalConfirmar Id="modal-confirm" Title="Aviso" HtmlMessage="@HtmlMessage" OnConfirm="ExcluirAsync" />

@code {

    public CustomTable<Canal_De_Venda> customTable = default!;
    private List<Canal_De_Venda> genericItems = new();

    private List<CustomTable<Canal_De_Venda>.ColumnDefinition> colunas = new()
    {
        new() { Title = "#", PropertyName = "Cod_Tpv", Width = 10 },
        new() { Title = "Descrição", PropertyName = "Descricao", Width = 90, Colspan="2" },
    };
    
    private string HtmlMessage { get; set; } = string.Empty;
    private int SelectedId; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ExibirSpinner();

            //carregar a grid
            await LoadGridAsync();

            StateHasChanged();

        }
        catch (Exception ex)
        {
            Erro.UpdateMessage(ex.Message);
        }
        finally
        {
            OcultarSpinner();
        }
    }

    private void IrParaCadastros(int id)
    {
        navigation.NavigateTo($"/cadastro-canal-de-venda/{id}");
    }

    private async Task ConfirmarExclusaoAsync(Canal_De_Venda context)
    {
        SelectedId = context.Cod_Tpv;

        HtmlMessage = $"<p>Confirma a <b>exclusão</b> do canal de venda #{context.Cod_Tpv} ?</p><br>";
        HtmlMessage += "<div style='margin-left: 15px;'>";
        HtmlMessage += $"<p>Descrição: {context.Descricao}</p>";
        HtmlMessage += "</div>";

        //open modal confirm
        await JsRuntime.InvokeVoidAsync("ShowModal", "modal-confirm");
    }

    private async Task ExcluirAsync()
    {
        try
        {
            ExibirSpinner();

            await canalDeVendaService.Delete(SelectedId);

            //atualizar a lista da grid
            var item = genericItems.FirstOrDefault(p => p.Cod_Tpv == SelectedId);
            
            if (item != null)
            {
                genericItems.Remove(item);
            }

            //atualizar a grid
            customTable.Refresh();
            StateHasChanged();

            await JsRuntime.InvokeVoidAsync("CloseModal");

            //Toast
            await JsRuntime.InvokeVoidAsync("ShowToast", $"O cnal de venda '{item?.Descricao}' foi excluído");
        }
        catch (Exception ex)
        {
            Erro.UpdateMessage(ex.Message);
        }
        finally
        {
            OcultarSpinner();
        }
    }

    private async Task LoadGridAsync()
    {
        try
        {
            ExibirSpinner();

            var items = await canalDeVendaService.GetItemsAsync();
            
            genericItems.Clear();
            genericItems = items.OrderBy(g => g.Cod_Tpv).ToList();

            customTable.Refresh();
        }
        catch (Exception ex)
        {
            Erro.UpdateMessage(ex.Message);
        }
        finally
        {
            OcultarSpinner();
        }
    }
}